@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    transition: 0.2s ease-out;
}
body {
    background: linear-gradient(to top right, #fcead0, #ffe7c7);
    color: black;
    margin: 0 auto 0; 
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: -8px;
}
div.main {
    max-width: 1024px;
    margin-top: -4px;
}
div.hero {
    background-color: black;
}
img.hero {
    width: 100%;
    filter: brightness(1.3);
    margin-top: -7px;
    margin-bottom: -4px;
}
img.flex {
    display: none;
}
h1.hero {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*text-align: center;*/
    font-size: 600%;
    margin-left: 40px;/*diminuire percentage per teblet*/
    margin-top: 100px;
    position: absolute;
    color: #faebd7;
    z-index: 1;
}
ul.hero {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
    z-index: 1;
    padding: 0;
    border-bottom: 1px solid white;
    margin-bottom: -80px;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 20px;
}
ul a {
    text-decoration: none;
    color: #ffe5c3;
}
ul.hero li.regular:hover {
    translate: 0px -5px;
}
button.responsive {
    display: none;
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 2;
}
button.responsive img {
    width: 50px;
}
ul#menuDropdown {
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    margin-top: 30px;
    margin-left: -20px;
    padding-right: 20px;
    font-size: 10px;
    border-right: 1px solid white;
}
ul#menuDropdown a {
    display: block;
}
ul#menuDropdown a:hover {
    translate: 10px;
}
h1, h2 {
    margin-top: -20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: italic;
}
li#vip {
    background-color: rgba(0, 0, 0, 0.3); /* Sfondo semi-trasparente */
    backdrop-filter: blur(10px); /* Applica la sfocatura */
    margin-top: -5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px solid rgba(255, 255, 255, 0.5); /* Bordo traslucido */
}
li#vip:hover {
    scale: 1.1;
}
/*------------end universal------------*/

div.head {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}
h1.familiare {
    font-size: 400%;
    padding-top: 80px;
}
b.familiare {
    margin: -10px 0 50px 0;
}
p.familiare {
    background-color: #897248;
    padding: 50px;
    border: 2px solid #897248;
    margin-bottom: 50px;
}
p.familiare:hover {
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 0px 0px 20px 5px #897248 inset;
}

/* Immagine principale */
div.meeting img {
    width: 70%;
    min-width: 250px;
}

/* Titolo principale */
h1.meeting {
    font-size: 40px;
    padding-top: 60px;
}

/* Prima sezione */
div.meetingflexI {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
div.meetingflexI img {
    width: 25%;
    padding: 30px 15px;
}

/* Seconda sezione */
div.meetingflexII {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px;
}
div.meetingflexII img {
    width: 30%;
    padding: 30px 0px;
}

/* Frecce */
div.meetingflexII img.arrow {
    filter: invert(1);
    margin: 0px -100px;
    width: 50px !important; /* Larghezza desiderata */
    height: 50px !important; /* Altezza proporzionale */
    object-fit: contain; /* Mantiene le proporzioni originali */
}

/* Terza sezione */
div.meetingflexIII img {
    width: 70%;
    margin: auto;
}

/*------------satrt universal-------------*/
div.end {
    margin-bottom: 60px;
    text-align: left;
}
div.end div {
    padding: 15px 30px;
    margin-bottom: 0;
}
div.end h1, h2 {
    padding-bottom: 0px;
}
div.place div.flexII {
    margin-left: -10px;
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap; 
}
p.placeflex {
    margin: -20px 20px 60px -8px;
}
div.place iframe {
    min-width: 250px;
    margin-top: -20px;
}
div.social div.flex {
    backdrop-filter: blur(20px);
    border: 1px solid grey;
}
div.flexII {
    display: flex;
    justify-content: space-evenly;
}
h2.social {
    text-align: center;
    margin-top: 30px;
}
button.socialflex {
    all: unset;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease-out;
}
button.socialflex:hover  {
    scale: 1.3;
}
div.social:hover {
    border-radius: 30px;
}/*--------------end universal----------------*/

@media screen and (max-width: 900px) {
    /*-----------------universal-------------------*/
    div.place div.flexII {
        display: block;
    }
    div.place p.placeflex {
        margin: -20px 0px 70px 0px;
    }
    div.place iframe {
        width: 100%;
        margin-top: -40px;
    }
}

@media screen and (max-width: 560px) {
    div.hero {
        display: flex;
        justify-content: center;
    }
    ul.hero {
        display: none;
    }
    img.hero {
        display: none;
    }
    h1.hero {
        margin-top: 10px;
        margin-left: -5px;
        font-size: 300%;
    }
    img.flex {
        display: block;
    }
    button.responsive {
        display: block;
        padding: 0;
    }
    button.responsive img.responsive {
        width: 25px;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 10px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.2); /* Sfondo semi-trasparente */
        backdrop-filter: blur(2px); /* Applica la sfocatura */
    }
    ul#menuDropdown {
        margin-top: 80px;
        font-size: 20px;
    }
/*-----------------end universal--------------*/

    div.meeting img {
        width: 80%;
    }
}