@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    transition: 0.2s ease-out;
}
body {
    background: linear-gradient(to top right, #fcead0, #ffe7c7);
    color: black;
    margin: 0 auto 0; 
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: -8px;
}
div.main {
    max-width: 1024px;
    text-align: left;
    margin-top: -4px;
}
div.hero {
    background-color: black;
}
img.hero {
    width: 100%;
    filter: brightness(1.3);
    margin-top: -2px;
    margin-bottom: -4px;
}
img.flex {
    display: none;
}
h1.hero {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*text-align: center;*/
    font-size: 80px;
    margin-left: 40px;/*diminuire percentage per teblet*/
    margin-top: 100px;
    position: absolute;
    color: #faebd7;
    z-index: 1;
}
ul.hero {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
    z-index: 1;
    padding: 0;
    border-bottom: 1px solid white;
    margin-bottom: -80px;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 20px;
}
ul a {
    text-decoration: none;
    color: #ffe5c3;
}
ul.hero li.regular:hover {
    translate: 0px -5px;
}
button.responsive {
    display: none;
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 2;
}
button.responsive img {
    width: 50px;
}
ul#menuDropdown {
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    margin-top: 30px;
    margin-left: -20px;
    padding-right: 20px;
    font-size: 10px;
    border-right: 1px solid white;
}
ul#menuDropdown a {
    display: block;
}
ul#menuDropdown a:hover {
    translate: 10px;
}
h1, h2 {
    margin-top: -20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: italic;
}
/*------------end universal------------*/

h1.hero {
    margin-bottom: -30px;
}

div.about:hover, div.news:hover {
    background: linear-gradient(to top right, #c7c0b7, #ffe5c3);
    scale: 1.02;
    box-shadow: 0px 5px 10px 0px grey;
}

div.about {
    border: 1px solid grey;
    text-align: left;
    padding: 40px;
    margin: 50px 50px;
}
h1.about {
    text-align: center;
    padding: 50px;
}
div.aboutflex {
    margin-top: -27px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
p.aboutus {
    width: 80%;
    padding: 0px 40px;
    margin-bottom: 50px;
}
img.aboutus {
    width: 40%;
    height: 40%;
    min-width: 400px;
}


div.news {
    border: 1px solid grey;
    padding: 50px;
    margin: 50px 50px;
}
h2.news {
    text-align: center;
}
div.newsflex {
    display: flex;
    justify-content: center;
}
p.news {
    margin: 40px 20px;
    text-align: center;
    width: 33%;
    min-width: 200px;
}
a.news {
    color: black;
    text-decoration: underline;
}

/*------------satrt universal-------------*/
div.end {
    margin-bottom: 60px;
    padding-top: 30px;
    border-top: 1px solid black;
}
div.end div {
    padding: 15px 30px;
    margin-bottom: 0;
}
div.end h1, h2 {
    padding-bottom: 0px;
}
div.place div.flexII {
    margin-left: -10px;
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap; 
}
p.placeflex {
    margin: -20px 20px 60px -8px;
}
div.place iframe {
    min-width: 250px;
    margin-top: -20px;
}
div.social div.flex {
    backdrop-filter: blur(20px);
    border: 1px solid grey;
}
div.flexII {
    display: flex;
    justify-content: space-evenly;
}
h2.social {
    text-align: center;
    margin-top: 30px;
}
button.socialflex {
    all: unset;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease-out;
}
button.socialflex:hover  {
    scale: 1.3;
}
div.social:hover {
    border-radius: 30px;
}
/*--------------end universal----------------*/

@media screen and (max-width: 900px) {
    div.about, div.news {
        border: none;
        margin: 0px;
    }
    h1.about {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    div.aboutflex {
        text-align: center;
    }
    p.aboutus {
        padding-bottom: 30px;
        width: 90%;
    }
    img.aboutus {
        width: 60%;
        min-width: 0;
    }
    div.newsflex {
        flex-wrap: wrap;
    } 
    h2.news {
        margin-bottom: -10px;
    }
    /*-----------------universal-------------------*/
    div.place iframe {
        width: 100%;
    } 
    div.place div.flexII {
        display: block;
    }
    div.place p.placeflex {
        margin: -20px 0px 70px 0px;
    }
    div.place iframe {
        width: 100%;
        margin-top: -40px;
    }
}

@media screen and (max-width: 750px) {
    h1.hero {
      font-size: 50px;
    }
  
    li.regular, #vip {
      font-size: 15px;
    }
  }

@media screen and (max-width: 560px) {
    div.hero {
        display: flex;
        justify-content: center;
    }
    ul.hero {
        display: none;
    }
    img.hero {
        display: none;
    }
    h1.hero {
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
    }

    img.flex {
        display: block;
    }
    button.responsive {
        display: block;
        padding: 0;
    }
    button.responsive img.responsive {
        width: 25px;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 10px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.2); /* Sfondo semi-trasparente */
        backdrop-filter: blur(2px); /* Applica la sfocatura */
    }
    ul#menuDropdown {
        margin-top: 120px;
        font-size: 20px;
    }

    p.aboutus {
        padding: 0;
    }
    img.aboutus {
        width: 80%;
    }
    

    div.contacts, div.place {
        margin-left: -20px;
    }
    div.social iframe {
        margin-left: -30px;
    }
}
